body
{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
}

.navbar li{
    display: inline;
    margin: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:link{
    color: black;
    text-decoration: none;
}

.navbar a:visited{
    color: black;
}

.navbar a:hover{
    color: chartreuse;
}

.photo{
    display: block;
    width:200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 30px;
}

.profile-desc{
    font-family: Arial, Helvetica, sans-serif;
}

.profile h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -10px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: lighter;
}

.pic{
    width: 60px;
    height: 70px;
    margin: 20px;
}

.html{
    height: 78px;
    width: 80px;
}

.css1{
    height: 80px;
}

.projects h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: lighter;
}

.projects a{
    text-decoration: none;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.projects li{
    list-style-type: none;
    margin-bottom: 7px;
    text-align: center;
}

.projects a:hover{
    color: lightblue;
}

.blogs h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: lighter;
}

.blogs a{
    text-decoration: none;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.blogs li{
    list-style-type: none;
    margin-bottom: 7px;
    text-align: center;
}

.blogs a:hover{
    color: lightblue;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
}

.footer a{
    color: blue;
    text-decoration: none;
}

.footer a:hover{
    color: lightblue;
}
